<div class="home">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-1">
				<a href="/" class="home__logo">
					akad.
				</a>
			</div>
			<div class="col-1">
				<button class="home__btn-nav">
					<span class="btn-nav__span"></span>
				</button>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.home -->