<section class="tr-blog" id="blog">
  <div class="container">
    <div class="row tr-blog__titles">
      <div class="col">
        <h2 class="tr-blog__title">
          latest news
        </h2>
      </div>
    </div> <!-- /.row -->
    <div class="row">
      <div class="col tr-blog__cards">
        <ul class="tr-card__list">
          <%- partial('blog-item') %>
        </ul>
      </div> <!-- /.tr-blog__cards -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.tr-blog -->