<% const blogItem = [
  {
    title: "this is a sample blog post with an extra super long title",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec dolor vitae neque semper aliquet sed et nibh. Cras quis..."
  },
  {
    title: "this is a sample blog post",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec dolor vitae neque semper aliquet sed et nibh. Cras quis..."
  },
  {
    title: "this is a sample blog post",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec dolor vitae neque semper aliquet sed et nibh. Cras quis..."
  }
]%>

<% blogItem.forEach(blog => { %>
  <li class="tr-card__item">
    <a href="#" class="tr-card__link">
      <figure class="tr-card__img--box">
        <img src="./img/blog.jpg" alt="flowers" class="tr-card__img">
      </figure>
      <h4 class="tr-card__title">
        <%= blog.title %>
      </h4>
      <p class="tr-card__text">
        <%= blog.text %>
      </p>
    </a>
  </li>
<%})%>

 