<header class="header">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<a href="/" class="header__logo">
					<img src="../../../img/logo.png" alt="" class="logo-img">
					<h1 class="logo-text">tajam</h1>
				</a>
			</div>
			<div class="col-lg-7">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link active" href="#">home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">about</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">expertise</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">teams</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">works</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">people say</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">contact</a>
					</li>
				</ul>
			</div> <!-- /.col-lg-7 -->
		</div> <!-- row -->

		<div class="row justify-content-center">
			<div class="col-lg-10">
				<h2 class="home__title">
					we are awesome creative agency
				</h2>
				<p class="home__text">
					This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
				</p>
				<a href="#" class="home__btn">
					learn more
				</a>
			</div> <!-- /.col-lg-10 -->
		</div> <!-- /.row justify-content-center -->

		<div class="row">
			<div class="col">
				<span class="header__span"></span>
				<span class="header__span"></span>
				<span class="header__span"></span>
				<span class="header__span"></span>
			</div>
		</div>
	</div> <!-- /.container -->
</header>