<% const menu = ['home', 'about', 'expertise', 'teamse', 'works', 'people say', 'contact'] %>

<header class="header">
	<div class="container">
		<div class="header__inner">
			<div class="row justify-content-between header__nav f_grow-1">
				<div class="col-lg-2 col-6">
					<a href="/" class="main__logo">
						<img src="./img/logo.png" alt="" class="logo-img">
						<h1 class="logo-text">tajam</h1>
					</a>
				</div>
				<div class="col-lg-10 col-6">
					<ul class="nav">
						<%menu.forEach(function(menuItem){ %>
							<li class="nav-item">
								<a class="nav-link" href="#"><%=menuItem%></a>
							</li>
						<% }) %>
					</ul>
				</div> <!-- /.col-lg-10 -->
			</div> <!-- row -->

			<div class="row justify-content-center align-items-center f_grow-3">
				<div class="col-lg-10 text-center">
					<h2 class="header__title">
						we are awesome creative agency
					</h2>
					<p class="text-center header__text">
						This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem<br> quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh<br> vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
					</p>
					<a href="#" class="btn tj-btn header__btn">
						learn more
					</a>
				</div> <!-- /.col-lg-10 -->
			</div> <!-- /.row justify-content-center -->

			<div class="row justify-content-center align-items-center f_grow-1">
				<div class="col-2 header__carousel">
					<ul class="carousel__list">
						<li class="carousel__item">
							<a href="#" class="carousel__link active">
							</a>
						</li>
						<li class="carousel__item">
							<a href="#" class="carousel__link">
							</a>
						</li>
						<li class="carousel__item">
							<a href="#" class="carousel__link">
							</a>
						</li>
						<li class="carousel__item">
							<a href="#" class="carousel__link">
							</a>
						</li>
					</ul>
				</div>
			</div> <!-- /.row -->
		</div> <!-- /.header__inner -->
	</div> <!-- /.container -->
</header>