<section class="section tj-story">
	<div class="container">
		<div class="row">
			<div class="col-md-5 text-center tj-story__img-md">
				<img src="./img/logotype.png" alt="" class="tj-story__img">
			</div>
			<div class="col-md-7 tj-story__article-md">
				<h2 class="section__title tj-story__title">
					our story
				</h2>
				<p class="section__text tj-story__text">
					This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
				</p>
				<p class="section__text tj-story__text">
					Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				</p>
				<a href="#" class="btn tj-btn tj-story-btn">
						learn more
				</a>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.story -->