<section class="section tj-testimonial">
    <div class="container">
        <div class="row">
            <div class="tj-testimonial__main">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner text-center col-md-10 mx-auto mb-3">
                        <div class="carousel-item tj-testimonial__carousel active">
                            <div class="item tj-testimonial__description">
                            	<i class="material-icons quot"> format_quote </i>
                                <p class="carousel__text">
                                	This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                            	</p>

                            	 <div class="carousel__title">
                                	<h4 class="title__name">
                                		jane galadriel
                                	</h4>
                                	<h5 class="title__prof">
                                		ceo tengkurep
                                	</h5>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item tj-testimonial__carousel">
                            <div class="item tj-testimonial__description">
                            	<i class="material-icons quot"> format_quote </i>
                                <p class="carousel__text">
                                	This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                                </p>

                                 <div class="carousel__title">
                                	<h4 class="title__name">
                                		jane galadriel
                                	</h4>
                                	<h5 class="title__prof">
                                		ceo tengkurep
                                	</h5>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item tj-testimonial__carousel">
                            <div class="item tj-testimonial__description">
                            	<i class="material-icons quot"> format_quote </i>
                                <p class="carousel__text">
                                	This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                                </p>

                                <div class="carousel__title">
                                	<h4 class="title__name">
                                		jane galadriel
                                	</h4>
                                	<h5 class="title__prof">
                                		ceo tengkurep
                                	</h5>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.carousel-inner -->
                    <div class="tj-testimonial__carousel-wrapper">
                        <ol class="carousel-indicators carousel__list tj-testimonial__photos">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="carousel__photo active">
                                <img class="img-circle photo__img" src="./img/photo_1.png" alt="">
                            </li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="carousel__photo">
                                <img class="img-circle photo__img" src="./img/photo_2.png" alt="">
                            </li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="carousel__photo">
                                <img class="img-circle photo__img" src="./img/photo_3.png" alt="">
                            </li>
                        </ol>
                        <a class="carousel__prev carousel__btn carousel-btn__prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <i class="material-icons prev-icon">chevron_left</i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel__next carousel__btn carousel-btn__next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <i class="material-icons next-icon">chevron_right</i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div> <!-- /.tj-testimonial__carousel-wrapper -->
                </div> <!-- /.carousel -->
            </div> <!-- /.tj-testimonial__main -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>