*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	scroll-behavior: smooth;
	font-size: 100%;
	font-family: $main-font;
	min-height: 100vh;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: none;
	}
}