* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  color: #fefbfc;

}

.container {
  background: url("../img/GRID.png") no-repeat center;
  background-color: #121116;
  width: 100%;
  height: 450px;
  text-align: center;
}

.header {
  
}

.logo {
  display: block;
  margin: 0 auto;
  padding: 120px 0 50px;
}

.main {
 display: block;
}

.main__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 15px;
}

.main__title:after {
  content: "";
  border: 1px solid #fefbfc;
  width: 230px;
  /* display: block; */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.main__nav-item {
  display: inline-block;
  margin-right: 30px;
}

.main__nav-item:last-child {
  margin-right: 0;
}

/* .main__link {
  display: inline-block;
} */