*,
*::before,
*::after {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .2s ease-in;
}

html, body {
	min-height: 100vh;
}

body {
	font-size: $base-size;
	font-family: $main-font;
	color: $text-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {

	width: 100%;

	&__title {
		font-size: px_to_rem(90px);
		font-weight: 700;
		text-transform: capitalize;

		@include xs-screen {
			font-size: px_to_rem(50px);
		}
	}

	&__text {
		line-height: px_to_em(27px);
	}
}

.text {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}