.ch-header {

	&__menu {
		width: 100%;
    	display: flex;
    	justify-content: space-between;
	}
}

.menu {

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		min-width: 560px;
	}

	&__link {
		font-size: px_to_rem(16px);
		font-weight: 700;
		text-transform: uppercase;
		color: $blak;
	}
}