@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900&display=swap");



// Font
$main-font: 'Raleway', sans-serif;
$logo-font: 'Pacifico', cursive;
$base-size: 17px;



// Colors
$blak: #262626;
$white: #ffffff;
$text-color: #424242;
$orange-btn: #ff6033;
$blue-btn: #5585a2;
$green-btn: #96b92c;
$red-btn: #f72b3b;
$bg_grey: #575d66;
$bg-green: #00bbbb;
$bg_blue: #70bfff;
$bg-yellow: #ffe92f;
$bg-violet: #b07cf7;
$form-focus: #00c4c4;
$form: #58cbd2;