// HEADER======================
.ls-header {
  display: flex;
  padding: 80px 0 130px;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    font-family: $logo-font;
    font-size: px_to_rem(40px);
    font-weight: 700;
    color: $text-white;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main {
    width: 100%;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: block;
    font-family: $title-font;
    font-weight: 400;
    color: $text-white;
    text-transform: capitalize;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $white;
      transform: translateX(-50%);
      transition: all 0.2s linear;
    }

    &:hover::after {
      width: 70%;
    }
  }
}

.main {
  &__content {
    width: 100%;
    max-width: 800px;
    padding: 40px;
    border: 2px solid $white;
  }

  &__title {
    font-family: $title-font;
    font-weight: 300;
    font-size: px_to_rem(75px);
    letter-spacing: 0.1em;
    color: $text-white;
    text-transform: uppercase;
  }
}
