// Fonts==================
$logo-font: 'Balsamiq Sans';
$main-font: 'Alata', sans-serif;
$title-font: 'Josefin Sans', sans-serif;

$base-size: 15px;

// Colors===============
$white: #fff;
$text-white: #fff;
