* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #319cc8;
  font-family: sans-serif;
  border: 15px solid #2b82ab;
  color: #fff;

}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__title {
  display: inline-block;
  padding: 25px;
  font-size: 25px;
  text-transform: uppercase;
}

.header__title-cap {
  text-transform: capitalize;
  margin-right: 10px;
}

.main__item {
  display: inline-block;
}