@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');


// Fonts

$main-font: 'Open Sans', sans-serif;
$title-font: 'Montserrat', sans-serif;
$base-size: 16px;



//colors

$text-color: #60606e;
$cyan: #7beec7;
$white: #fff;