<section class="section b-about" id="about">
	<div class="description__wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-xl-1 b-about__description">
					<h2 class="section__title description__title">
						this is bouncy
					</h2>
					<p class="section__text description__text">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
					</p>
					<a href="#" class="description__btn" data-modal="#modal">read more</a>
				</div>

				<div class="col-xl-5 col-lg-6 description__img--box">
					<div>
						<img src="./img/ipad.png" alt="ipad" class="description__img">
					</div>
					<div>
						<img src="./img/iphone.png" alt="ipad" class="description__img">
					</div>
					<div>
						<img src="./img/iMac.png" alt="ipad" class="description__img">
					</div>
				</div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.description__wrapper -->

	<div class="b-about__details" id="details">
		<div class="container">
			<div class="row section__titles details__titles">
				<div class="col-md-6 details__header">
					<h2 class="section__title details__title">
						details about bouncy
					</h2>
					<h4 class="section__text details__subtitle">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
					</h4>
					<div class="details__icons">
						<ul class="icons__list">
							<li class="icons__item">
								<a href="#" class="icons__link active" target="_blank">
									<svg class="heart icon">
										<use xlink:href="#heart"></use>
									</svg>
								</a>
							</li>
							<li class="icons__item">
								<a href="#" class="icons__link" target="_blank">
									<svg class="mouse icon">
										<use xlink:href="#mouse"></use>
									</svg>
								</a>
							</li>
							<li class="icons__item">
								<a href="#" class="icons__link" target="_blank">
									<svg class="lamp icon">
										<use xlink:href="#lamp"></use>
									</svg>
								</a>
							</li>
						</ul>
					</div> <!-- /.details__icons -->
				</div> <!-- /.col-md-6 -->
			</div> <!-- /.row -->

			<div class="row b-about__ideas">
				<div class="col-md-5">
					<h2 class="section__title ideas__title">
						creative ideas
					</h2>
					<h4 class="section__subtitle ideas__subtitle">
						At <span class="text-green">vero</span> eos et accusamus et iusto odio dignissimos <span class="text-bold">ducimus</span> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
					</h4>
				</div>
				<div class="col-md-6 offset-md-1">
					<p class="section__text ideas__text">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <span class="text-bold">corrupti quos</span> dolores et quas molestias <span class="text-green">excepturi</span> sint occaecati cupiditate non provident, <span class="text-bold">similique</span> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r
					</p>
				</div>
			</div> <!-- /.row b-about__ideas -->
		</div> <!-- /.container -->
	</div> <!-- /.row b-about__ideas -->
</section> <!-- /.b-about -->