<section class="b-contact" id="contact">
	<div class="container">
		<div class="row section__titles b-contact__titles">
			<div class="col-md-7">
				<h2 class="section__title b-contact__title">
					contact us
				</h2>
				<p class="section__text b-contact__text">
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
				</p>
			</div> <!-- /.col-md-7 -->
		</div> <!-- /.row section__titles -->
		<div class="row">
			<div class="col b-contact__card">
				<ul class="card__list">
					<li class="card__item">
						<a href="mailto:hello@codecafe.com" class="card__link">
							<div class="card__icon-box">
								<i class="material-icons">
									mail_outline
								</i>
							</div>
							<div class="card__inner">
								<h4 class="section__subtitle card__subtitle">
									email
								</h4>
								<p class="section__text card__text">
									hello@codecafe.com
									personal@codecafe.com
								</p>
							</div>
						</a>
					</li>
					<li class="card__item">
						<a href="#" class="card__link">
							<div class="card__icon-box">
								<i class="material-icons">
									place
								</i>
							</div>
							<div class="card__inner">
								<h4 class="section__subtitle card__subtitle">
									our office
								</h4>
								<p class="section__text card__text">
									240 Bhatikhana, 8200 Barisal
									Bangladesh
								</p>
							</div>
						</a>
					</li>
					<li class="card__item">
						<a href="tel:+00 11 66 99 66 44" class="card__link">
							<div class="card__icon-box">
								<i class="material-icons">
									phone
								</i>
							</div>
							<div class="card__inner">
								<h4 class="section__subtitle card__subtitle">
									phone
								</h4>
								<p class="section__text card__text">
									+00 11 66 99 66 44<br>
									11 99 66 44 065
								</p>
							</div>
						</a>
					</li>
				</ul>
			</div> <!-- /.col -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section>