<section class="b-contact__form">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="contact__form--title">Bouncy contact</h2>
				<form id="contact__form" class="contact__form">
					<div class="form__labels-box">
						<label class="form__label">
							<input type="text" class="section__text form__input name" placeholder="Your name" required>
						</label>
						<label class="form__label">
							<input type="email" class="section__text form__input email" placeholder="Email address" required>
						</label>
						<label class="form__label">
							<input type="text" class="section__text form__input subject" placeholder="Subject" required>
						</label>
					</div>
					<textarea name="message" cols="30" rows="10" class=" section__text form__input message" placeholder="Your message"></textarea>
					<button type="submit" class="section__subtitle form__submit">
						submit now
					</button>
				</form>
			</div> <!-- /.col -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section>