<header class="header" id="header">
	<div class="container">
		<div class="header__inner">
			<div class="row flex-grow1">
				<div class="col header__nav--wrapper">
					<a href="#" class="header__logo">bouncy</a>
					<nav class="header__nav">
						<ul class="nav__list">
							<li class="nav__item">
								<a class="nav__link active" href="#header">hello</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="#about">about</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="#services">services</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="#portfolio">portfolio</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="#team">team</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="#contact">contact</a>
							</li>
						</ul>
					</nav>
				</div> <!-- /.col header__nav--wrapper -->
			</div> <!-- /.row -->
			<div class="row flex-grow2">
				<div class="col-md-7 header__content">
					<h1 class="section__title header__title">
						we are code cafe
					</h1>
					<h4 class="section__subtitle header__subtitle">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
					</h4>
				</div> <!-- /.col-md-7 -->
			</div> <!-- /.row -->
			<div class="row flex-grow1">
				<div class="col header__down--wrapper">
					<a href="#about" class="header__down">
						<svg class="down">
							<use xlink:href="#down"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div> <!-- /.container -->
</header>