<div class="modal" id="modal">
	<div class="modal__inner">
		<button class="button__close" data-close>
			<i class="far fa-times-circle"></i>
		</button>

		<div class="section__titles">
			<h2 class="section__title">
				Lorem ipsum dolor sit amet.
			</h2>
		</div> <!-- /.section__titles -->
		<p class="section__text modal__text">
			<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus nulla a tenetur officia distinctio expedita blanditiis sint fugiat, ipsa at ratione porro neque voluptas reprehenderit ut modi cupiditate similique!</span>
			<span>Delectus quaerat facilis unde ipsa itaque at nostrum, debitis similique suscipit sapiente libero et reiciendis, beatae, temporibus maiores eos nemo fuga dolores ut reprehenderit cupiditate exercitationem quas asperiores porro! Repellendus!</span>
			<span>Sunt odit repudiandae modi praesentium id odio qui aspernatur blanditiis voluptates vel perferendis nesciunt aut, nostrum iste sit delectus eaque in ullam tenetur molestias tempore velit ut earum laudantium voluptate!</span>
		</p>
	</div> <!-- /.modal__inner -->
</div> <!-- ./modal -->