<section class="section b-projects">
	<div class="container">
		<div class="row section__titles b-projects__titles">
			<div class="col-md-6">
				<h2 class="section__title b-projects__title">
					featured projects
				</h2>
				<h4 class="section__text b-projects__text">
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
				</h4>
			</div> <!-- /.col-md-6 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
	<div class="container-fluid b-projects__fluid">
		<div class="row">
			<div class="col">
				<ul class="b-projects__list">
					<li class="b-projects__item">
						<a href="#" class="b-projects__link">
							<img src="./img/featured1.jpg" alt="" class="b-projects__img">
							<div class="b-projects__link--hover">
								<span class="hover__span">
									vintage
								</span>
							</div>
						</a>
					</li>
					<li class="b-projects__item">
						<a href="#" class="b-projects__link">
							<img src="./img/featured2-1.jpg" alt="" class="b-projects__img">
							<div class="b-projects__link--hover">
								<span class="hover__span">
									vintage
								</span>
							</div>
						</a>
					</li>
					<li class="b-projects__item">
						<a href="#" class="b-projects__link">
							<img src="./img/featured3-1.jpg" alt="" class="b-projects__img">
							<div class="b-projects__link--hover">
								<span class="hover__span">
									vintage
								</span>
							</div>
						</a>
					</li>
				</ul>
			</div> <!-- /.col -->
		</div> <!-- /.row -->
	</div> <!-- /.container-fluid -->
</section> <!-- /.b-projects -->