<section class="b-quotes">
	<div class="container">
		<div class="row b-quotes__content">
			<div class="col-lg-7">
				<h2 class="section__title b-quotes__title">
					impressed ?
				</h2>
				<h4 class="section__subtitle b-quotes__subtitle">
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
				</h4>
				<h5 class="b-quotes__author section__text">
					- abdullah noman
				</h5>
				<h5 class="b-quotes__prof section__text">
					creatice director, <span class="text-green">code cafe</span>
				</h5>
			</div>
			<div class="col-lg-5 b-quotes__content--image">
				<div class="b-quotes__img-box">
					<div class="img-box__mac">
						<img src="./img/mac.png" alt="mac">
						<div class="img-box__inner">
							<div class="img-box__carousel">
								<div class="row img-box__text--first">
									<div class="col img-box__text--first-title">
										<h2>bo<span class="text-green">u</span>ncy</h2>
									</div>
								</div> <!-- /.row img-box__text--first -->
								<div class="row img-box__text--second">
									<div class="col-5 offset-1 img-box__text--second-left">
										<h3>we<br> are<br> <span class="text-green">code cafe</span></h3>
									</div>
									<div class="col-5 offset-1 img-box__text--second-right">
										<h3>we <span class="text-green">care</span> about<br> <span class="text-green">you</span></h3>
									</div>
								</div> <!-- /.row img-box__text2 -->
							</div> <!-- /.img-box__carousel -->
						</div> <!-- /.img-box__inner -->
					</div> <!-- /.img-box__mac -->
				</div> <!-- /.b-quotes__img-box -->
			</div> <!-- /.col-md-5 -->
		</div> <!-- row -->
	</div> <!-- container -->
</section> <!-- b-quotes -->