<section class="b-services">
	<div class="container">
		<div class="row b-services__titles">
			<div class="col-md-6">
				<h2 class="section__title b-services__title">
					our services
				</h2>
				<h4 class="section__subtitle b-services__subtitle">
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
				</h4>
			</div> <!-- /.col-md-6 -->
		</div> <!-- /.row b-services__titles -->
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-2">
						<ul class="b-services__list">
							<li class="b-services__item">
								<a href="" class="icons__link b-services__link">
									<svg class="tools icon">
										<use xlink:href="#tools"></use>
									</svg>
								</a>
							</li>
							<li class="b-services__item">
								<a href="" class="icons__link b-services__link active">
									<svg class="roller icon">
										<use xlink:href="#roller"></use>
									</svg>
								</a>
							</li>
							<li class="b-services__item">
								<a href="" class="icons__link b-services__link">
									<svg class="sega icon">
										<use xlink:href="#sega"></use>
									</svg>
								</a>
							</li>
							<li class="b-services__item">
								<a href="" class="icons__link b-services__link">
									<svg class="plug icon">
										<use xlink:href="#plug"></use>
									</svg>
								</a>
							</li>
						</ul>
					</div> <!-- /.col-2 -->
					<div class="col-10 b-services__aside">
						<h3 class="aside__title">
							graphic design
						</h3>
						<h4 class="section__subtitle aside__subtitle">
							At vero eos et accusamus et <span class="text-green">iusto</span> odio dignissimos <span class="text-bold">ducimus</span> qui blanditiis praesentium voluptatum deleniti
						</h4>
						<p class="section__text aside__text">
							quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, <span class="text-green">similique sunt</span> in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
						</p>
					</div> <!-- /.col-9 -->
				</div> <!-- /.row -->
			</div> <!-- /.col-md-6 -->
			<div class="col-md-6 b-services__skills">
				<ul class="skills__list">
					<li class="skills__item">
						<svg class="skills__svg">
							<g>
								<circle id="circle" cx="60" cy="60" r="55"/>
								<circle id="circle__percent" class="circle_1" cx="60" cy="60" r="55"/>
							</g>
						</svg>
						<div class="skills__number">
							<h3>80<span>%</span></h3>
						</div>
						<h4 class="section__subtitle skills__kind">
							branding
						</h4>
					</li>
					<li class="skills__item">
						<svg class="skills__svg">
							<g>
								<circle id="circle" cx="60" cy="60" r="55"/>
								<circle id="circle__percent" class="circle_2" cx="60" cy="60" r="55"/>
							</g>
						</svg>
						<div class="skills__number">
							<h3>75<span>%</span></h3>
						</div>
						<h4 class="section__subtitle skills__kind">
							web design
						</h4>
					</li>
					<li class="skills__item">
						<svg class="skills__svg">
							<g>
								<circle id="circle" cx="60" cy="60" r="55"/>
								<circle id="circle__percent" class="circle_3" cx="60" cy="60" r="55"/>
							</g>
						</svg>
						<div class="skills__number">
							<h3>60<span>%</span></h3>
						</div>
						<h4 class="section__subtitle skills__kind">
							ui/ux
						</h4>
					</li>
				</ul>
			</div> <!-- /.col-md-6 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->

	<div class="b-services__impres">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					
				</div>
				<div class="col-md-5 offset-1">
					
				</div>
			</div>
		</div>
	</div>
</section> <!-- /.b-services -->