<section id="team" class="b-team">
    <div class="container">
        <div class="row section__titles b-team__titles">
            <div class="col-md-7">
                <h2 class="section__title">
                    the team
                </h2>
                <p class="section__text">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                </p>
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row section__titles -->
        <div class="row b-team__description-wrapper">
            <div class="col-md-3 offset-1">
                <img src="./img/team1.jpg" alt="photo" class="b-team__img">
            </div>
            <div class="col-md-5 offset-1 b-team__description">
                <h3 class="b-team__description-name">
                    abdullah noman
                </h3>
                <h4 class="b-team__description-prof">
                    creative director, code cafe
                </h4>
                <p class="section__text b-team__description-text">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                </p>
                <ul class="description__skills-list">
                    <li class="description__skills-item">
                        <p class="section__title description__skills-kind">
                            branding
                        </p>
                        <span class="description__skills-percent">
                            80%
                        </span>
                    </li>
                    <li class="description__skills-item">
                        <p class="section__title description__skills-kind">
                            web design
                        </p>
                        <span class="description__skills-percent">
                            65%
                        </span>
                    </li>
                    <li class="description__skills-item">
                        <p class="section__title description__skills-kind">
                            user interface
                        </p>
                        <span class="description__skills-percent">
                            75%
                        </span>
                    </li>
                </ul>
            </div> <!-- /.col-md-5 offset-1 b-team__description -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section> <!-- /#team -->