<% const socials = [
	{
		icon: "fab fa-facebook-f"
	},
	{
		icon: "fab fa-twitter"
	},
	{
		icon: "fab fa-dribbble"
	},
	{
		icon: "fab fa-instagram"
	},
	{
		icon: "fab fa-google-plus-g"
	},
	{
		icon: "fab fa-youtube"
	}
]%>

<% socials.forEach(social => { %>
<li class="social__item">
    <a href="#" class="social__link" target="_blank">
        <i class="<%= social.icon %>"></i>
    </a>
</li>
<%})%>