.page-cahee {
	background: url("../img/bg_01.jpg") center no-repeat / cover;
}

.section-cahee {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: $black;
	height: 100vh;

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-family: $logo;
		font-size: 3.1rem;
		font-weight: 400;
		text-transform: capitalize;
		color: $black;
	}
}

.nav__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		min-width: 560px;
	}

.list__link {
	text-transform: uppercase;
	font-family: $main-font;
	font-weight: 700;
	font-size: 1rem;
	color: $black;
	position: relative;

	&::before {
		content: "";
		width: 100%;
		height: 3px;
		background-color: $menu-hover;
		position: absolute;
		top: -10px;
		opacity: 0;
	}

	&:hover::before {
			opacity: 1;
		}
}

.fresh {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
	max-width: 32%;

	&__title {
		font-family: $main-font;
		font-size: 3.75rem;
		font-weight: 900;
		text-transform: capitalize;
		color: $black;
		margin-bottom: 30px;
	}

	&__text {
		margin-bottom: 30px;
	}
}

.box-text {
	font-family: $main-font;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.6;
}

.btn__link {
	display: inline-block;
	font-family: $main-font;
	font-size: 1.2rem;
	font-weight: 300;
	text-transform: uppercase;
	padding: 20px 25px;
	background-color: $menu-hover;
	color: $white;
	line-height: 1.5;
	box-shadow: 3px 3px 10px 0px black;

	&:hover {
		color: $menu-hover;
		background-color: $white;
		font-weight: 700;
	}
}

.cahee-footer {
	text-align: center;
}

.page-about {
	background-color: $bg-about;
}

.section-about {
	display: flex;
	justify-content: space-between;
	text-align: start;
	align-items: center;
	font-family: $main-font;
}

.box-about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 40%;
	max-height: 300px;

	&__title {
		font-size: 5.6rem;
		font-weight: 700;
		line-height: 1.2;
		text-transform: capitalize;
		color: $white;
	}

	&__text {
		color: $white;
	}
}