.page-cahee {
	background: url("../img/bg_01.jpg") center no-repeat;
	background-size: cover;
}

.section-cahee {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: $black;
	height: 100vh;
	padding: 25px 0;

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-family: $logo;
		font-size: 3.1rem;
		font-weight: 400;
		text-transform: capitalize;
		color: $black;
	}
}

.nav {

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		min-width: 560px;
	}

	&__burger {
		height: 45px;
		width: 45px;
		background-color: $menu-hover;
		border-radius: 50%;
		display: none;
		position: relative;
	}

	&__burger-span {
		width: 25px;
		height: 2px;
		background-color: $white;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;

		&::before,
		&::after {
			content: "";
			width: 25px;
			height: 2px;
			background-color: $white;
			position: absolute;
		}

		&::before {
			top: 8px;
		}

		&::after {
			top: -8px;
		}
	}
}

.list__link {
	text-transform: uppercase;
	font-family: $main-font;
	font-weight: 700;
	font-size: 1rem;
	color: $black;
	position: relative;

	&::before {
		content: "";
		width: 100%;
		height: 3px;
		background-color: $menu-hover;
		position: absolute;
		top: -10px;
		opacity: 0;
	}

	&:hover::before {
			opacity: 1;
		}
}

.fresh {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
	width: 32%;

	&__title {
		font-family: $main-font;
		font-size: 3.75rem;
		font-weight: 900;
		text-transform: capitalize;
		color: $black;
		margin-bottom: 30px;
	}

	&__text {
		margin-bottom: 30px;
	}
}

.box-text {
	font-family: $main-font;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.6;
}

.btn__link {
	display: inline-block;
	font-family: $main-font;
	font-size: 1.2rem;
	font-weight: 300;
	text-transform: uppercase;
	padding: 20px 25px;
	background-color: $menu-hover;
	color: $white;
	line-height: 1.5;
	box-shadow: 3px 3px 10px 0px black;

	&:hover {
		color: $menu-hover;
		background-color: $white;
		font-weight: 700;
	}
}

.cahee-footer {
	text-align: center;
}

.page-about {
	background-color: $bg-about;
}

.section-about {
	background: $bg-about url("../img/raspberry.png") left top no-repeat;
	font-family: $main-font;
	height: 650px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.box-about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
	min-height: 350px;

	&__title {
		font-size: 5.6rem;
		font-weight: 700;
		line-height: 1.2;
		text-transform: capitalize;
		color: $white;
	}

	&__text {
		color: $white;
	}
}

