@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900&display=swap");

// Colors
$black: #262626;
$menu-hover: #ff6033;
$white: #fff;
$bg-about: #00b1b1;

// Font
$logo: 'Pacifico', cursive;
$main-font: 'Raleway', sans-serif;