* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #990909;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

li {
  list-style: none;
}



/* Header */

.header {
  text-align: center;
  margin-bottom: 15px;
}

.header__title {
  text-align: center;
  padding: 20px 0 10px;
}

.header__nav {
  background-color: #000;
  text-align: center;
}

.header__intro {
  display: inline-block;
  padding: 30px 0 10px;
  margin-right: 80px;
}

.header__intro:last-child {
  margin-right: 0;
}

.header__link {
  text-decoration: none;
  color: #fff;
}

.header__link:hover {
  color: #e33c0c;
}



/* Main */

.main {
  height: 100%;
  min-height: 350px;
  margin-bottom: 30px;
}

.link__item {
  color: #e33c0c;
}

.link__item:hover {
  color: #fff;
}

.main__list {
  margin-right: 20px;
  float: left;
  display: block;
  height: 100%;
  min-height: 350px;
  width: 25%;
  background-color: #7d0909;
  border-radius: 5px;
}

.list__link {
  margin-bottom: 1.1em;
  padding: 10px 5px;
}

.main__title {
  display: block;
  float: right;
  height: 100%;
  width: 15%;
  background-color: #e3dddd;
}

.main__title-content {
  text-align: center;
  margin-bottom: 1em;
}

.title {
  background-color: #bdbdbd;
}

.underline {
  width: 50%;
  margin: 0 auto 20px;
}

.main__text {
  display: inline-block;
  width: 57%;
  margin-right: 20px;
  text-align: justify;
  padding: 30px 0;
  color: #fff;
}

.main__title-text {
  margin-bottom: 1em;
}

.title-text {
  padding: 0 5px;
}



/* Footer */

.footer {
  font-size: 20px;
  text-align: center;
  width: 100%;
  background-color: #e95b11;
  color: #fff;
}