.main {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 150px 70px 0;
}

.container {
	width: 100%;
	max-width: 1060px;
	padding: 200px 150px 0;
	box-shadow: 0 0 40px 0 #000;
	background-color: $white;
	position: relative;
	z-index: 1;
}

.container::before {
    content: "";
    position: absolute;
    border: 1px solid grey;
    height: 100%;
    left: 70px;
    bottom: 0;
}

.author {
	font-family: $title;
	font-weight: 400;
	font-size: 1.2rem;
	color: $grey;
	letter-spacing: 6px;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.main__title {
	font-family: $title_box;
	font-weight: 400;
	font-size: 4.7rem;
	color: #000;
	text-transform: uppercase;
	letter-spacing: -2px;
}

.title__preface {
	font-family: $maine-font;
	font-weight: 400;
	font-size: 30px;
	font-style: italic;
	color: $grey;
	margin-bottom: 50px;
}

.main__text {
	font-family: $maine-font;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 35px;
}

.last {
	margin-bottom: 0;
}

.text__italic {
	font-style: italic;
}

.side__title {
	position: absolute;
	top: -100px;
    right: -70px;
    left: 255px;
    z-index: 3;
    background-color: $black;
    padding: 50px 0 50px 60px;
}

.title__description {
	font-family: $title;
	text-transform: uppercase;
	color: $grey;
	letter-spacing: 7px;
}

.title__name {
	font-family: $title_box;
	font-size: 3rem;
	text-transform: capitalize;
	color: $white;
	margin-bottom: 20px;
}

.side__title::after {
	display: block;
	content: "";
	border: 1px solid $grey;
	text-outline: 15px;
}

.title__name::after {
	content: "";
	display: inline-block;
	border-right: 2px solid $white;
	height: 45px;
}

.text-view {
	position: absolute;
	top: 105px;
	right: -70px;
	left: 320px;
	background-color: $yellow;
	z-index: 2;
}

.view__list {
	display: flex;
	justify-content: space-around;
	max-width: 660px;
}

.view__link {
	font-size: 30px;
	color: $icons;
	padding: 15px;
}

.view__link:hover {
	color: $white;
}