@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Playfair+Display|Quicksand:400,700&display=swap");

// Colors
$grey: #464f54;
$dark: #181818;
$black: #000;
$yellow: #f4bb2c;
$white: #fff;

// Fonts
$title_box: 'Playfair Display', serif;
$title: 'Quicksand', sans-serif;
$maine-font: 'Crimson Text', serif;