<section class="section tj-team">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 tj-team__titles">
				<h2 class="section__title text-center tj-team__title">
						meet our amazing team
				</h2>
				<p class="section__text text-center tj-team__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, sunt!
				</p>
			</div> <!-- /.col-lg-6 -->
		</div> <!-- /.row -->

		<div class="row">
				<%- partial('team-item') %>
		</div> <!-- /.row -->

		<div class="row justify-content-center">
			<div class="col-md-4 tj-team__footer">
				<h5 class="footer-text">
					Become part of our dream team, let’s join us !
				</h5>
				<a href="#" class="btn tj-btn tj-team__btn">we are hiring</a>
			</div>
		</div>
	</div> <!-- /.container -->
</section> <!-- /.tj-team -->