*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: $main-font;
  min-height: 100vh;
}

body {
  background-color: $bg-color;
}

input {
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section__title {
  font-family: $main-font;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: $title-color;
  margin-bottom: 40px;
}
