@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');


// Fonts
$main-font: 'Quicksand', sans-serif;

// Colors
$white: #fff;
$green: #23ae92;
$grey: #b9b9cc;
$red: #e66a64;
$rose: #e1c2f1;