* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .1s ease-in;
}

html, body {
	min-height: 100vh;
}

body {
	color: $grey;
	background-color: $white;
}

a {
	text-decoration: none;
	text-align: center;
}

.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 15px;
}