@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,700|Playfair+Display&display=swap");

// COLORS
$dark: #171717;
$grey: #7a7a7a;
$orange: #eaa258;
$white: #fff;

// Fonts
$maine-font: 'Lato', sans-serif;
$title-font: 'Playfair Display', serif;