* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: 'Josefin Sans', sans-serif;
	background-color: #e2e7ec;
	color: #1d1d1d;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.offers {
	padding: 90px 0;
}

.offer__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.offers__item {
	list-style: none;
	background-color: #fff;
}

.offers__link {
	width: 100%;
	display: block;
	text-decoration: none;
	color: #fff;
	min-width: 360px;
	max-width: 360px;
	min-height: 540px;
	background-color: #fff;
}

.offers__link.cars {
	background-color: #ccc;
	background: url("../img/car.jpg") no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 740px;
}