.main {
	background-color: #bababa;
	width: 100%;
	min-height: 100vh;
	padding: 50px 0;
}

.inner {
	width: 100%;
	margin: auto;
}

.title {
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;

	&-lb {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.input {

	&-t {
	width: 100%;
	max-width: 800px;
	padding: 15px;
	}

	&-s {
		padding: 15px;
	}
}

.questions {
	background-color: #fff;
	width: 100%;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	position: relative;

	&__wrapper {
		margin-bottom: 30px;
	}

	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-size: 25px;
		margin-bottom: 20px;
	}
}

.q-label {
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.q-button {
	position: absolute;
	top: 50%;
	right: 20px;
	padding: 15px;
	font-size: 20px;
	transform: translateY(-50%);
	transform: rotate(-20deg);
}