<section class="tr-blog" id="blog">
  <div class="container">
    <div class="row tr-blog__titles">
      <div class="col">
        <h2 class="tr-blog__title">
          latest news
        </h2>
      </div>
    </div> <!-- /.row -->
    <div class="row">
      <div class="col tr-blog__cards">
        <ul class="tr-card__list">
          <li class="tr-card__item">
            <a href="#" class="tr-card__link">
              <figure class="tr-card__img--box">
                <img src="./img/blog.jpg" alt="flowers" class="tr-card__img">
              </figure>
              <h4 class="tr-card__title">
                this is a sample blog post with an extra super long title
              </h4>
              <p class="tr-card__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec dolor vitae neque semper aliquet sed et
                nibh. Cras quis...
              </p>
            </a>
          </li>
          <li class="tr-card__item">
            <a href="#" class="tr-card__link">
              <figure class="tr-card__img--box">
                <img src="./img/blog.jpg" alt="flowers" class="tr-card__img">
              </figure>
              <h4 class="tr-card__title">
                this is a sample blog post
              </h4>
              <p class="tr-card__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec dolor vitae neque semper aliquet sed et
                nibh. Cras quis...
              </p>
            </a>
          </li>
          <li class="tr-card__item">
            <a href="#" class="tr-card__link">
              <figure class="tr-card__img--box">
                <img src="./img/blog.jpg" alt="flowers" class="tr-card__img">
              </figure>
              <h4 class="tr-card__title">
                this is a sample blog post
              </h4>
              <p class="tr-card__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec dolor vitae neque semper aliquet sed et
                nibh. Cras quis...
              </p>
            </a>
          </li>
        </ul>
      </div> <!-- /.tr-blog__cards -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.tr-blog -->