<section class="tr-clients">
  <div class="container">
    <div class="row tr-clients__titles">
      <div class="col tr-clients__title--wrapper">
        <h3 class="tr-clients__title">
          our clients
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="tr-clients__list">
          <li class="tr-clients__item">
            <img src="./img/clients_logo.jpg" alt="" class="tr-clients__img">
            <div class="tr-clients__popovers">
              <h5 class="clients-popovers__title">
                sample
              </h5>
            </div>
          </li>
          <li class="tr-clients__item">
            <img src="./img/clients_logo.jpg" alt="" class="tr-clients__img">
            <div class="tr-clients__popovers">
              <h5 class="clients-popovers__title">
                sample
              </h5>
            </div>
          </li>
          <li class="tr-clients__item">
            <img src="./img/clients_logo.jpg" alt="" class="tr-clients__img">
            <div class="tr-clients__popovers">
              <h5 class="clients-popovers__title">
                sample
              </h5>
            </div>
          </li>
          <li class="tr-clients__item">
            <img src="./img/clients_logo.jpg" alt="" class="tr-clients__img">
            <div class="tr-clients__popovers">
              <h5 class="clients-popovers__title">
                sample
              </h5>
            </div>
          </li>
          <li class="tr-clients__item">
            <img src="./img/clients_logo.jpg" alt="" class="tr-clients__img">
            <div class="tr-clients__popovers">
              <h5 class="clients-popovers__title">
                sample
              </h5>
            </div>
          </li>
          <li class="tr-clients__item">
            <img src="./img/clients_logo.jpg" alt="" class="tr-clients__img">
            <div class="tr-clients__popovers">
              <h5 class="clients-popovers__title">
                sample
              </h5>
            </div>
          </li>
          <li class="tr-clients__item">
            <img src="./img/clients_logo.jpg" alt="" class="tr-clients__img">
            <div class="tr-clients__popovers">
              <h5 class="clients-popovers__title">
                sample
              </h5>
            </div>
          </li>
          <li class="tr-clients__item">
            <img src="./img/clients_logo.jpg" alt="" class="tr-clients__img">
            <div class="tr-clients__popovers">
              <h5 class="clients-popovers__title">
                sample
              </h5>
            </div>
          </li>
          <li class="tr-clients__item">
            <img src="./img/clients_logo.jpg" alt="" class="tr-clients__img">
            <div class="tr-clients__popovers">
              <h5 class="clients-popovers__title">
                sample
              </h5>
            </div>
          </li>
          <li class="tr-clients__item">
            <img src="./img/clients_logo.jpg" alt="" class="tr-clients__img">
            <div class="tr-clients__popovers">
              <h5 class="clients-popovers__title">
                sample
              </h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>