<section class="tr-features" id="features">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="tr-features__list">
          <li class="feat-list__item">
            <div class="feat-item__icon">
              <i class="far fa-file-alt"></i>
            </div>
            <h2 class="feat-item__title">
              powerful
            </h2>
            <p class="feat-item__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec dolor vitae neque semper aliquet sed et nibh. Cras quis libero quis urna commodo vulputate.
            </p>
          </li>
          <li class="feat-list__item">
            <div class="feat-item__icon">
              <i class="fas fa-chart-bar"></i>
            </div>
            <h2 class="feat-item__title">
              creative
            </h2>
            <p class="feat-item__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec dolor vitae neque semper aliquet sed et nibh. Cras quis libero quis urna commodo vulputate.
            </p>
          </li>
          <li class="feat-list__item">
            <div class="feat-item__icon">
              <i class="fas fa-globe"></i>
            </div>
            <h2 class="feat-item__title">
              localised
            </h2>
            <p class="feat-item__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec dolor vitae neque semper aliquet sed et nibh. Cras quis libero quis urna commodo vulputate.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>