<footer class="tr-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 tr-footer__posts">
        <h4 class="footer-posts__title">
          recent posts
        </h4>
        <p class="footer-posts__text">
          This is a sample blog post with an extra super long title
        </p>
        <p class="footer-posts__text">
          This is a sample blog post
        </p>
        <p class="footer-posts__text">
          This is a sample blog post
        </p>
        <p class="footer-posts__text">
          This is a sample blog post
        </p>
        <p class="footer-posts__text">
          This is a sample blog post
        </p>
      </div> <!-- /.col-md-3 tr-footer__posts -->
      <div class="col-md-3 footer-comments">
        <h4 class="footer-comments__title">
          recent comments
        </h4>
        <p class="footer-comments__text">
          visitor on This is a fifth sample blog post
        </p>
        <p class="footer-comments__text">
          visitor on This is a fifth sample blog post
        </p>
        <p class="footer-comments__text">
          visitor on This is a fifth sample blog post
        </p>
        <p class="footer-comments__text">
          visitor on This is a fifth sample blog post
        </p>
        <p class="footer-comments__text">
          visitor on This is a fifth sample blog post
        </p>
      </div>
      <div class="col-md-3 footer-teg">
        <ul class="footer-teg__list">
          <li class="footer-teg__item">
            <h5 class="footer-teg__text">sample</h5>
          </li>
          <li class="footer-teg__item">
            <h5 class="footer-teg__text">tag</h5>
          </li>
          <li class="footer-teg__item">
            <h5 class="footer-teg__text">sample</h5>
          </li>
          <li class="footer-teg__item">
            <h5 class="footer-teg__text">tag</h5>
          </li>
          <li class="footer-teg__item">
            <h5 class="footer-teg__text">tag</h5>
          </li>
          <li class="footer-teg__item">
            <h5 class="footer-teg__text">sample</h5>
          </li>
          <li class="footer-teg__item">
            <h5 class="footer-teg__text">tag</h5>
          </li>
          <li class="footer-teg__item">
            <h5 class="footer-teg__text">sample</h5>
          </li>
          <li class="footer-teg__item">
            <h5 class="footer-teg__text">tag</h5>
          </li>
        </ul>
      </div>
      <div class="col-md-3 footer-thunder">
        <h4 class="footer-thunder__title">
          thunder
        </h4>
        <p class="footer-thunder__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec dolor vitae neque semper aliquet sed et nibh.
          Cras quis libero quis urna commodo vulputate.
        </p>
        <input type="search" class="footer-thunder__search" placeholder="Search">
      </div>
    </div> <!-- /.row -->
    <div class="row">
      <div class="col-md-6 footer-copyright">
        <h5 class="footer-copyright__text">
          copyright 2013 - <span class="footer-copyright__bold">thunder</span>
        </h5>
      </div>
      <div class="col-md-6 footer-social">
        <ul class="footer-social__list">
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">
              <i class="fab fa-google-plus-g"></i>
            </a></li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">

            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">

            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">

            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">

            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">

            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">

            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">

            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">

            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">

            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank">
              <i class="fas fa-wifi"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- /.container -->
</footer>