<section class="tr-pages" id="pages">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="tr-pages__title">
          hear the thunder?
        </h2>
        <p class="tr-pages__text">
          Let me introduce you to a clean, simple, yet powerful <span class="tr-pages__text--span"> premium wordpress
            theme</span>, created
          specifically for you.
        </p>
        <a href="#" class="tr-pages__button">
          get started
        </a>
      </div>
      <div class="col-md-6 tr-pages__img--box">
        <figure class="tr-pages__img--wrapper">
          <img class="tr-pages__img" src="./img/content_img.png" alt="imac">
        </figure>
      </div>
    </div>
  </div>
</section>