<section class="tr-portfolio" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 tr-portfolio__titles">
        <h3 class="section__title--white tr-portfolio__title">
          recent work
        </h3>
      </div>
      <div class="col-md-6 tr-portfolio__btn">
        <a href="#" target="_blanc" class="tr-portfolio__link">
          browse all
        </a>
      </div>
    </div> <!-- /.row -->
    <div class="row">
      <div class="col">
        <ul class="tr-portfolio__list">
          <li class="pf-list__item">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
              <div class="pf-list__item--hover">
                <h4 class="pf-hover__title">
                  a sample portfolio
                </h4>
                <ul class="pf-hover__list">
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="fas fa-search"></i>
                    </a>
                  </li>
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="far fa-file-alt"></i>
                    </a>
                  </li>
                </ul> <!-- /.pf-hover__list -->
              </div> <!-- /.pf-list__item--hover -->
          </li>
          <li class="pf-list__item">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
              <div class="pf-list__item--hover">
                <h4 class="pf-hover__title">
                  a sample portfolio
                </h4>
                <ul class="pf-hover__list">
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="fas fa-search"></i>
                    </a>
                  </li>
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="far fa-file-alt"></i>
                    </a>
                  </li>
                </ul> <!-- /.pf-hover__list -->
              </div> <!-- /.pf-list__item--hover -->
          </li>
          <li class="pf-list__item">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
              <div class="pf-list__item--hover">
                <h4 class="pf-hover__title">
                  a sample portfolio
                </h4>
                <ul class="pf-hover__list">
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="fas fa-search"></i>
                    </a>
                  </li>
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="far fa-file-alt"></i>
                    </a>
                  </li>
                </ul> <!-- /.pf-hover__list -->
              </div> <!-- /.pf-list__item--hover -->
          </li>
          <li class="pf-list__item">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
              <div class="pf-list__item--hover">
                <h4 class="pf-hover__title">
                  a sample portfolio
                </h4>
                <ul class="pf-hover__list">
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="fas fa-search"></i>
                    </a>
                  </li>
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="far fa-file-alt"></i>
                    </a>
                  </li>
                </ul> <!-- /.pf-hover__list -->
              </div> <!-- /.pf-list__item--hover -->
          </li>
          <li class="pf-list__item">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
              <div class="pf-list__item--hover">
                <h4 class="pf-hover__title">
                  a sample portfolio
                </h4>
                <ul class="pf-hover__list">
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="fas fa-search"></i>
                    </a>
                  </li>
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="far fa-file-alt"></i>
                    </a>
                  </li>
                </ul> <!-- /.pf-hover__list -->
              </div> <!-- /.pf-list__item--hover -->
          </li>
          <li class="pf-list__item">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
              <div class="pf-list__item--hover">
                <h4 class="pf-hover__title">
                  a sample portfolio
                </h4>
                <ul class="pf-hover__list">
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="fas fa-search"></i>
                    </a>
                  </li>
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="far fa-file-alt"></i>
                    </a>
                  </li>
                </ul> <!-- /.pf-hover__list -->
              </div> <!-- /.pf-list__item--hover -->
          </li>
          <li class="pf-list__item">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
              <div class="pf-list__item--hover">
                <h4 class="pf-hover__title">
                  a sample portfolio
                </h4>
                <ul class="pf-hover__list">
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="fas fa-search"></i>
                    </a>
                  </li>
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="far fa-file-alt"></i>
                    </a>
                  </li>
                </ul> <!-- /.pf-hover__list -->
              </div> <!-- /.pf-list__item--hover -->
          </li>
          <li class="pf-list__item">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
              <div class="pf-list__item--hover">
                <h4 class="pf-hover__title">
                  a sample portfolio
                </h4>
                <ul class="pf-hover__list">
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="fas fa-search"></i>
                    </a>
                  </li>
                  <li class="pf-hover__item">
                    <a href="#" class="pf-hover__link">
                      <i class="far fa-file-alt"></i>
                    </a>
                  </li>
                </ul> <!-- /.pf-hover__list -->
              </div> <!-- /.pf-list__item--hover -->
          </li>
        </ul>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>