<section class="tr-portfolio" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="tr-portfolio__title">
          recent work
        </h3>
      </div>
      <div class="col-md-6">
        <a href="#" target="_blanc" class="tr-portfolio__link">
          browse all
        </a>
      </div>
    </div> <!-- /.row -->
    <div class="row">
      <div class="col">
        <ul class="tr-portfolio__list">
          <li class="pf-list__item">
            <a href="#" class="pf-list__link">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
              <div class="pf-list__link--hover">
                
              </div>
            </a>
          </li>
          <li class="pf-list__item">
            <a href="#" class="pf-list__link">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
            </a>
          </li>
          <li class="pf-list__item">
            <a href="#" class="pf-list__link">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
            </a>
          </li>
          <li class="pf-list__item">
            <a href="#" class="pf-list__link">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
            </a>
          </li>
          <li class="pf-list__item">
            <a href="#" class="pf-list__link">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
            </a>
          </li>
          <li class="pf-list__item">
            <a href="#" class="pf-list__link">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
            </a>
          </li>
          <li class="pf-list__item">
            <a href="#" class="pf-list__link">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
            </a>
          </li>
          <li class="pf-list__item">
            <a href="#" class="pf-list__link">
              <img src="./img/pf-flower.jpg" alt="flower" class="pf-list__img">
            </a>
          </li>
        </ul>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>