<section class="tr-products">
  <div class="container">
    <div class="row tr-products__titles--wrapper">
      <div class="col-md-3 tr-products__titles">
        <div class="tr-products__title--wrapper">
          <h2 class="tr-products__title">
            newest products
          </h2>
        </div>
      </div> <!-- /.col tr-products__titles -->
    </div> <!-- /.row -->
    <div class="row">
      <div class="col tr-products__card">
        <ul class="prod-card__list">
          <li class="prod-card__item">
            <a href="#" class="prod-card__link">
              <img src="./img/shop_img.jpg" alt="" class="prod-card__img">
              <h3 class="prod-card__title">
                woo album #1
              </h3>
              <span class="prod-card__price">
                $3
              </span>
            </a>
          </li>
          <li class="prod-card__item">
            <a href="#" class="prod-card__link">
              <img src="./img/shop_img.jpg" alt="" class="prod-card__img">
              <h3 class="prod-card__title">
                woo album #2
              </h3>
              <span class="prod-card__price">
                $3
              </span>
            </a>
          </li>
          <li class="prod-card__item">
            <a href="#" class="prod-card__link">
              <img src="./img/shop_img.jpg" alt="" class="prod-card__img">
              <h3 class="prod-card__title">
                woo album #3
              </h3>
              <span class="prod-card__price">
                $3
              </span>
            </a>
          </li>
          
        </ul>
      </div> <!-- /.col tr-products__card -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.tr-products -->