<section class="tr-staff" id="staff">
  <div class="container">
    <div class="row tr-staff__titles--wrapper">
      <div class="col tr-staff__titles">
        <h2 class="tr-staff__title">
          testimonials from our clients
        </h2>
        <h5 class="tr-staff__subtitle">
          See what people are saying about our work
        </h5>
      </div>
    </div>
    <div class="row tr-staff__slider--wrapper">
      <div class="col tr-staff__slider">
        <div class="staff-slider__text--box">
          <h3 class="staff-slider__text">This theme is amazing, I’ve used many themes in the past but nothing compares to Thunder - 5 stars all the way!</h3>
        </div> <!-- /.staff-slider__text--box -->
        <div class="staff-slider__name--box">
          <span class="staff-slider__name">client name</span>
        </div>
        <ul class="staff-slider__list">
          <li class="staff-slider__item active">
            <img src="./img/staff-client.jpg" alt="photo" class="staff-slider__img">
          </li>
          <li class="staff-slider__item">
            <img src="./img/staff-client.jpg" alt="photo" class="staff-slider__img">
          </li>
          <li class="staff-slider__item">
            <img src="./img/staff-client.jpg" alt="photo" class="staff-slider__img">
          </li>
          <li class="staff-slider__item">
            <img src="./img/staff-client.jpg" alt="photo" class="staff-slider__img">
          </li>
          <li class="staff-slider__item">
            <img src="./img/staff-client.jpg" alt="photo" class="staff-slider__img">
          </li>
        </ul>
      </div> <!-- /.col tr-staff__slider -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /.tr-staff -->