.team {
	padding: 100px 0;
	height: 100vh;


	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		height: 100%
	}

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 150px;
		position: relative;
	}

	&__portfolio {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		&::after {
			content: "";
			width: 2px;
			height: 145%;
			background-color: $yellow;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.team-header {

	&__subtitle {
		font-size: 1.1rem;
		font-weight: 500;
		text-transform: uppercase;
		color: $light-grey;
		letter-spacing: .1em;
	}

	&__title {
		font-family: $title-font;
		font-size: 3.8rem;
		font-weight: 700;
		text-transform: uppercase;
		color: $yellow;
		letter-spacing: -0.03em;
		margin-bottom: 45px;

	}

	&__box-img {

		&::before {
			content: "";
			height: 2px;
			width: 215px;
			background-color: $yellow;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-106%);
		}

		&::after {
			content: "";
			height: 2px;
			width: 215px;
			background-color: $yellow;
			position: absolute;
			bottom: 0;
    		right: 50%;
			transform: translateX(106%);
		}
	}
}

.portfolio-photo {
	position: relative;

	&__img {
		height: 100%;
		border: 1px solid $yellow;
	}

	&__span {
		position: absolute;
		width: 30%;
		height: 30%;
	}

	&__span:nth-child(1) {
		top: -7%;
		left: -7%;
		border-left: 1px solid $yellow;
		border-top: 1px solid $yellow;
	}

	&__span:nth-child(2) {
		top: -7%;
		right: -7%;
		border-right: 1px solid $yellow;
		border-top: 1px solid $yellow;
	}

	&__span:nth-child(3) {
		bottom: -7%;
		right: -7%;
		border-right: 1px solid $yellow;
		border-bottom: 1px solid $yellow;
	}

	&__span:nth-child(4) {
		bottom: -7%;
		left: -7%;
		border-left: 1px solid $yellow;
		border-bottom: 1px solid $yellow;
	}
}

.portfolio-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 47%;
}