@import url("https://fonts.googleapis.com/css?family=Raleway:400,500|Roboto:400,700&display=swap");

// Fonts
$maine-font: 'Raleway', sans-serif;
$title-font: 'Roboto', sans-serif;


// Colors

$yellow: #ffcc00;
$white: #fff;
$dark-grey: #666666;
$light-grey: #cccccc;