* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .1s ease-in;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #319cc8;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 15px solid #2b82ab;
  color: #fff;

}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 25px 0;
}

.header__title {
  display: inline-block;
  font-size: 25px;
  text-transform: uppercase;
}

.header__title-cap {
  text-transform: capitalize;
  margin-right: 10px;
}

.main {
  width: 100%;
}

.main__content {
  display: inline-block;
  text-align: center;
  border: 2px solid #fff;
  font-size: 0;
}

.main__content:hover .main__link:not(:hover) {
  opacity: .5;
}

.main__item {
  display: inline-block;
}

.main__link {
  display: block;
  padding: 16px 0;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  border: 2px solid #fff;
}

.main__item.medium {
  width: 50%;
}

.main__item.small {
  width: 25%;
}

.main__item.large {
  width: 100%;
}

.maine__title {
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 10px;
}

.weatheer {
  text-transform: uppercase;
}

.wi {
  font-size: 1.3em;
}

.lisbon {
  background-color: #2693ca;
}

.paris {
  background-color: #23bdc7;
}

.belgrade {
  background-color: #976f94;
}

.moscow {
  background-color: #c75441;
}

.telaviv {
  background-color: #e67243;
}

.cair {
  background-color: #fecb5c;
}

.newyork {
  background-color: #93c394;
}

.newdelhi {
  background-color: #5d9493;
}

.sanfrancisco {
  background-color: #ce7293;
}

.tokyo {
  background-color: #278d61;
}

.sydney {
  background-color: #626a95;
}

.footer {
  padding: 15px 0;
}

.footer__text {
  font-size: .9rem;
  font-weight: 300;
}

.capital {
  text-transform: capitalize;
}