<% const menuItem = [
	{
		link: "#home",
		text: "home"
	},
	{
		link: "#about",
		text: "about"
	},
	{
		link: "#expertise",
		text: "expertise"
	},
	{
		link: "#teamse",
		text: "teamse"
	},
	{
		link: "#works",
		text: "works"
	},
	{
		link: "#say",
		text: "people say"
	},
	{
		link: "#contact",
		text: "contact"
	}
	]%>

<% menuItem.forEach(menu => { %>
<li class="nav-item">
	<a class="nav-link" href="<%= menu.link %>"><%= menu.text %></a>
</li>
<%})%>