<header class="header" id="home">
	<div class="container">
		<div class="header__inner">

			<nav class="navbar navbar-expand-lg">
				<a href="/" class="navbar-brand main__logo">
					<img src="./img/logo.png" alt="" class="logo-img">
					<span class="logo-text">tajam</span>
				</a>
				<button class="navbar-toggler navbar__burger" type="button"	data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    				<span class="burger__span"></span>
  				</button>
				<div class="collapse navbar-collapse navbar-right" id="navbarTogglerDemo02">
					<ul class="navbar-nav nav navbar__list text-center">
						<%- partial('home_menu-item') %>
					</ul>
				</div> <!-- /.collapse navbar-collapse -->
			</nav>

			<div class="row justify-content-center align-items-center f_grow-3">
				<div class="col-lg-10 text-center">
					<h1 class="header__title">
						we are awesome creative agency
					</h1>
					<p class="text-center header__text">
						This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem<br> quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh<br> vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
					</p>
					<a href="#" class="btn tj-btn header__btn">
						learn more
					</a>
				</div> <!-- /.col-lg-10 -->
			</div> <!-- /.row justify-content-center -->

			<div class="row justify-content-center align-items-center f_grow-1">
				<div class="col-2 header__carousel">
					<ul class="carousel__list">
						<li class="carousel__item">
							<a href="#" class="carousel__link active">
							</a>
						</li>
						<li class="carousel__item">
							<a href="#" class="carousel__link">
							</a>
						</li>
						<li class="carousel__item">
							<a href="#" class="carousel__link">
							</a>
						</li>
						<li class="carousel__item">
							<a href="#" class="carousel__link">
							</a>
						</li>
					</ul>
				</div>
			</div> <!-- /.row -->
		</div> <!-- /.header__inner -->
	</div> <!-- /.container -->
</header>