*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .3s ease-in;
}

html, body {
	min-height: 100vh;
}

body {
	font-size: $base-size;
	font-family: $main-font;
	color: $text-color;
}


ul {

	display: flex;
	list-style: none;
	li {
		a {
			display: flex;
			text-decoration: none;
		}
	}
}

a {
	text-decoration: none;
	color: $text-color;
}


.header__inner-menu {
	display: none;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;

	&__inner {
		padding: 100px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}

.btn {
	font-weight: 700;
	color: $blue;
	background-color: $white;
	text-transform: uppercase;
	transition: all .3s ease-in;

	&:hover {
		box-shadow: 0 0 8px 1px black;
	}
}

.section {

	&__title {
		font-size: px_to_rem(50px);
		font-weight: 300;
		text-transform: capitalize;
		color: $blue;
	}

	&__text {
		font-weight: 400;
		color: $text-color;
	}
}