.expert {
  background-color: $grey-bg;

  &__list {
    height: 800px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    &:hover {
      box-shadow: 0 0 8px 1px black;
      background-color: $grey-text;
    }
  }

  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include square(140px);
    border: 1px solid $grey-text;
    border-radius: 50%;
  }

  &__item-title {
    font-size: px_to_rem(24px);
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;
  }

  &__item-text {
    line-height: 2.1em;
    text-align: center;
  }
}
