.footer {

	background-color: $blue;

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 150px;

		@include md-screen {
			flex-direction: row;
		}
	}

	&__title {
		font-weight: 300;
		text-transform: none;
		color: $white;
		margin-bottom: 0;
	}

	&__btn {
		padding: 10px 50px;
		border-radius: 50px;

		@include md-screen {
			padding: 20px 70px;
		}
	}
}

.title__bold {
	font-weight: 700;
	color: $white;
}