
.burger {

	&__icon {
		fill: $white;
		width: 45px;
		height: 45px;
		align-self: flex-end;

		&:hover {
			box-shadow: 0 0 6px 1px black;
			fill: $grey-text;
			cursor: pointer;
		}
	}

	&__close {
		fill: $blue;
		width: 45px;
		height: 45px;
		position: absolute;
		top: 20px;
		right: 20px;

		&:hover {
			box-shadow: 0 0 6px 1px black;
			fill: $grey-text;
			cursor: pointer;
		}
	}
}

.modal-wrapper {
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, .7);
	position: fixed;
  padding: 100px 15px 0;
  display: none;
  z-index: 3;
}

.inner-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	max-width: 1170px;
	background-color: $white;
	border-radius: 20px;
	margin: 0 auto;
	align-items: center;
	position: relative;
}

.header {

	// &__menu-wrapper {
	// 	width: 100%;
	// 	height: 100%;
	// 	top: 0;
	// 	background-color: rgba(0, 0, 0, .7);
	// 	position: fixed;
  //   padding: 100px 15px 0;
  //   display: none;
  //   z-index: 3;
	// }

	// &__inner-menu {
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: space-around;
	// 	width: 100%;
	// 	max-width: 1170px;
	// 	background-color: $white;
	// 	border-radius: 20px;
	// 	margin: 0 auto;
	// 	align-items: center;
	// 	position: relative;
	// }

	&__menu {
		width: 100%;
		max-width: 290px;
	}

	&__menu-social {
		position: relative;

		&::before {
			content: "";
			width: 100%;
			height: 2px;
			background-color: $grey-text;
			position: absolute;
		}
	}
}

.menu {

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 95px 0px;
	}

	&__link {
		font-size: px_to_rem(50px);
		font-weight: 300;
		line-height: 2em;
		text-transform: capitalize;
		color: $grey-text;

		&:hover {
			color: $blue;
		}
	}
}

.social {

	&__list {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 290px;
		padding: 65px 0;
	}

	&__link {
		@include square(50px);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		border-radius: 50%;
		background-color: $grey-text;
		color: 	$white;

		&:hover {
			background-color: $blue;
		}
	}
}