.tr-blog {
  background: $bg-dark url("../img/blog_bg.jpg") top no-repeat;
  background-size: cover;
  padding: 100px 0;

  &__titles {
    margin-bottom: 45px;
  }

  &__title {
    font-size: px_to_rem(30px);
    font-weight: 400;
    text-transform: capitalize;
    color: $text-white;
  }
}

.tr-card {

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    width: 100%;
    max-width: 32%;
  }

  &__link {
    display: flex;
    flex-direction: column;

    &:hover .tr-card__img--box::after {
      opacity: .5;
    }

    &:hover .tr-card__title {
      color: $text-grey;
    }
  }

  &__img--box {
    margin-bottom: 30px;
    $height: 180px;
    @include padding-hack($height);
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0;
      position: absolute;
      z-index: 2;
      transition: all .2s ease-in;
    }
  }

  &__title {
    font-size: px_to_rem(14px);
    font-weight: 700;
    text-transform: uppercase;
    color: $text-white;
    margin-bottom: 35px;
    position: relative;
    transition: all .2s ease-in;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 30px;
      height: 1px;
      background-color: $light-grey;
    }
  }

  &__text {
    font-size: px_to_rem(14px);
    font-weight: 600;
    color: $light-grey;
  }
}