.tr-clients {
  background-color: $white;
  width: 100%;
  padding: 50px 0;

  &__titles {
    margin-bottom: 25px;
  }

  &__title--wrapper {

    &::before {
      content: "";
      height: 1px;
    }
  }

  &__title {
    font-size: px_to_rem(16px);
    font-weight: 600;
    text-transform: uppercase;
    color: $text-dark;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 15px;
    min-height: 370px;
  }

  &__item {
    $height: 175px;
    @include padding-hack($height);
    width: 100%;
    max-width: 185px;
    height: max-content;
    border: 2px solid transparent;
    transition: all .2s linear;
    position: relative;

    &:hover {
      border-color: $light-grey;
    }

    &:hover .tr-clients__popovers {
      opacity: 1;
    }
  }

  &__popovers {
    background-color: $dark;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    opacity: 0;
    transition: all .2s linear;

    &::after {
      content: "";
      border-bottom: 10px solid $dark;
      border-left: 10px solid transparent;
      position: absolute;
      left: 50%;
      bottom: -5px;
      width: 0;
      height: 0;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

.clients-popovers__title {
  font-size: px_to_rem(14px);
  font-weight: 600;
  text-transform: capitalize;
  color: $text-white;
  padding: 10px 25px;
}