*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // transition: all .2s ease-in;
}

body, html {
  scroll-behavior: smooth;
  font-size: 100%;
  font-family: $main-font;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.section__title--white {
  font-size: px_to_rem(30px);
  font-weight: 400;
  text-transform: capitalize;
  color: $white;
}