.tr-header {
  background-color: $dark;
  overflow: hidden;

  &__logo {
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
  }

  &__nav {
    background-color: $black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

    &--wrapper {
      display: flex;
      justify-content: space-between;
      color: $text-white;
    }
  }

  &__content {
    padding: 100px 0 0;
    height: 100vh;
  }

  &__title--box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title--wrapper {
    display: flex;
    background-color: $green;
    padding: 20px 24px;
    width: 100%;
    max-width: 350px;
    margin-bottom: 15px;
    border-radius: 4px;
    transition: all .2s linear;

    &:hover {
      background-color: darken($green, 15%);
    }
  }

  &__title {
    font-size: 34px;
    font-weight: 700;
    color: $text-white;
  }

  &__subtitle--wrapper {
    background-color: $black;
    padding: 10px;
    width: 100%;
    max-width: 450px;
    border-radius: 4px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: $text-white;
  }

  &__img--box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.nav {

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100px;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 27px;
  }

  &__link {
    display: flex;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: $text-grey;
    transition: all .2s linear;

    &:hover,
    &:focus {
      color: $text-white;
    }
  }
}

.tr-logo__img {
  margin-right: 10px;
}

// SLIDER===========

.header-slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: calc(100vh - 100px);
  overflow: hidden;
}

.second-item {
  height: 100vh;

  &__container {
    position: relative;
  }
}

.slider {

  &-second__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__title-second--wrapper {
    display: inline-block;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__title-second {
    padding: 20px;
    font-size: px_to_rem(24px);
    font-weight: 700;
    text-transform: capitalize;
    color: $text-white;
  }

  &__text-second--wrapper {
    max-width: 250px;
    background-color: $black;
    border-radius: 4px;
  }

  &__text-second {
    padding: 20px 30px 20px 10px;
    font-size: px_to_rem(14px);
    font-weight: 400;
    line-height: px_to_em(24px);
    color: $text-white;
  }

  &-third {

    &__container--grow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
    }

    &__container {
      flex-grow: 5;
      padding: 100px 0 0;
      display: flex;
      justify-content: flex-end;
    }

    &__titles {
      display: flex;
      justify-content: flex-end;
    }

    &__title--wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: end;
    }

    &__title {
      font-size: px_to_rem(26px);
      font-weight: 700;
      line-height: px_to_em(26px);
      color: $text-white;
      text-transform: capitalize;
      margin-bottom: 65px;
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $btn-orange;
      max-width: 155px;
      padding: 15px;
      font-size: px_to_rem(20px);
      font-weight: 700;
      text-transform: capitalize;
      color: $text-white;
      border-radius: 100px;
      align-self: flex-end;
      transition: all .2s linear;

      &:hover {
        background-color: $dark;
      }
    }

    &__footer {
      background-color: rgba(0, 0, 0, .5);
    }

    &__counters--box {
      padding: 30px 0;
    }

    &__footer--text {
      font-size: px_to_rem(20px);
      font-weight: 40;
      text-transform: uppercase;
      color: $text-white;
    }

    &__footer--big {
      font-size: px_to_rem(50px);
      font-weight: 700;
    }
  }
}

.second-slider {

  &__img-mac--absolut {
    position: absolute;
    bottom: 35px;
    left: 55px;
    z-index: 1;
  }

  &__img-mac--box {
    position: relative;
  }

  &__img-ipad--absolut {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 2;
  }

  &__img-iphone--absolut {
    position: absolute;
    bottom: 5px;
    left: 140px;
    z-index: 3;
  }

  &__img-macbook--absolut {
    position: absolute;
    bottom: 10px;
    left: 335px;
    z-index: 3;
  }
}

.mac-img {
  width: 100%;

  &__box {
    position: absolute;
    width: 435px;
    height: 245px;
    bottom: 140px;
    left: 20px;
  }
}

.ipad-img {
  width: 100%;

  &__box {
    position: absolute;
    width: 140px;
    height: 183px;
    bottom: 28px;
    left: 16px;
  }
}

.iphone-img {
  width: 100%;

  &__box {
    position: absolute;
    width: 76px;
    height: 115px;
    bottom: 44px;
    left: 8px;
  }
}

.macbook-img {
  width: 100%;

  &__box {
    position: absolute;
    width: 300px;
    height: 188px;
    bottom: 33px;
    left: 49px;
  }
}



// Slick======

.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 6;
  font-size: 0;
  width: 65px;
  height: 75px;
  border: 20px solid $dark;

  &:hover {
    cursor: pointer;
  }
}

.slick-slider .slick-prev.slick-arrow {
  left: 0;
  background: $dark url('../img/prev.png') 0 0 /100% no-repeat;
}

.slick-slider .slick-next.slick-arrow {
  right: 0;
  background: $dark url('../img/next.png') 0 0 /100% no-repeat;
}