.tr-portfolio {
  background: $bg-darck url("../img/bg_portfolio.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 650px;
  padding: 80px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 420px;
  }
}

.pf-list {

  &__item {
    width: 100%;
    max-width: 230px;
    height: max-content;
  }

  &__link {
    display: block;
	  $height: 200px;

	  @include padding-hack($height);
  }
}