.tr-staff {
  background-color: $bg-grey;
  padding: 65px;

  &__titles--wrapper {
    margin-bottom: 40px;
  }

  &__titles {
    text-align: center;
  }

  &__title {
    font-size: px_to_rem(38px);
    font-weight: 400;
    text-transform: capitalize;
    color: $text-dark;
  }

  &__subtitle {
    font-size: px_to_rem(18px);
    font-weight: 400;
    color: $text-grey;
  }

  &__slider {
    text-align: center;
  }
}

.staff-slider {

  &__text--box {
    padding: 40px 85px 50px;
    background-color: $white;
    text-align: center;
    margin-bottom: 30px;
    position: relative;

    &::after {
      content: "";
      border-bottom: 26px solid #fff;
      border-left: 26px solid transparent;
      position: absolute;
      left: 50%;
      bottom: -13px;
      width: 0;
      height: 0;
      transform: translateX(-50%) rotate(45deg);
    }
  }

  &__text {
    font-size: px_to_rem(24px);
    font-weight: 600;
    line-height: px_to_em(36px);
    color: $text-grey;
  }

  &__name--box {
    background-color: $btn-orange;
    width: 145px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 0 auto 30px;
  }

  &__name {
    font-size: px_to_rem(18px);
    font-weight: 600;
    color: $text-white;
    text-transform: capitalize;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    $height: 55px;
    @include padding-hack($height);
    width: 100%;
    max-width: 55px;
    margin-right: 10px;
    border-bottom: 5px solid transparent;
    transition: all .2s linear;

    &.active {
      border-bottom: 5px solid $blue;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:active {
      border-bottom: 5px solid $blue;
    }
  }
}