// Fonts===========
$main-font: 'Open Sans', sans-serif;

$base-size: 16px;

// Colors==========
$text-white: #fff;
$text-dark: #202226;
$text-grey: #888888;
$green: #65c25d;
$black: #000;
$btn-orange: #f26c4f;
$bg-first-screen: #29292c;