.nd__first-screen {
  background: url("../img/first_screen.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 50px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #313131 0%,
      rgba(133, 133, 133, 0) 100%
    );
    z-index: 0;
  }
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

.nd-header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;

  &__menu {
    width: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
}

.h-nav {
  &__list {
    display: flex;
    text-align: center;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    @include text-font;
    text-transform: capitalize;
    position: relative;
    display: block;

    &::after {
      content: "";
      position: absolute;
      width: 3px;
      height: 1px;
      background-color: #fff;
      bottom: -5px;
      left: 0;
      transition: all 0.3s ease-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.menu {
  &__line-b {
    width: 100%;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-bottom: 10px;
  }

  &__line-s {
    width: 70%;
    height: 2px;
    background-color: #e7e7e7;
    box-shadow: 0px 0px 4px rgba(114, 114, 114, 0.4);
    align-self: flex-end;
  }
}

.nd-main {
  position: relative;
  z-index: 2;
  display: flex;
  flex-grow: 4;

  &__content {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    @include title-font;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  &__subtitle {
    @include text-font;
    line-height: 19px;
    letter-spacing: 0.025em;
    margin-bottom: 50px;
    max-width: 208px;
  }

  &__buttons {
    display: flex;
  }

  &__more {
    padding: 15px 24px;
    font-size: 11px;
    color: $black;
    margin-right: 20px;
  }

  &__more-span {
    margin-left: 10px;
  }

  &__play {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }
}

.button {
  cursor: pointer;
}

.play__text {
  font-size: 11px;
  width: 55px;
  text-align: left;
  margin-left: 12px;
  color: $gray;
}

.title-span {
  text-transform: lowercase;
}

.nd-footer {
  display: flex;
  z-index: 2;

  &__social {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: block;
    font-size: 11px;
    letter-spacing: 0.025em;
    text-transform: capitalize;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: #fff;
    }
  }
}

.nd-plaer {
  width: 100%;
  max-width: 315px;
  height: 140px;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

.plaer {
  &__text {
    width: 100%;
    max-width: 32%;
    background-color: $bg-gray;
    padding: 20px 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    @include text-font;
    font-size: 10px;
    color: $black;
  }

  &__subtitle {
    @include text-font;
    font-size: 7px;
    color: #4b4b4b;
  }

  &__video {
    background: $bg-gray;
    width: 68%;
    position: relative;
  }
}

.video__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
