@mixin title-font {
  font-family: 'Playfair Display SC', serif;
  font-size: 45px;
  font-weight: 400;
  color: $white;
}

@mixin text-font {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 400;
  color: $white;
}