* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .1s ease-in;
}

body {
	min-height: 100vh;
}

.main {
	width: 100%;
	max-width: 1200px;
}

.container {
	width: 100%;
	max-width: 160px;
}