@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

// Colors
$background: #f6f6f6;
$text: #3c3c3c;
$grey: #dddbdb;
$dark: #777777;
$black: #000;
$photo: #18b5dc;
$white: #fff;
$bg_icon: #5ecbe7;
$icon: #ffffff;

// Font
$main-font: 'Lato', sans-serif;