<section class="tj-expertise" id="expertise">
	<div class="container">
		<div class="row justify-content-center tj-expertise__titles">
			<div class="col-lg-6">
				<h2 class="section__title text-center tj-expertise__title">
					expertise
				</h2>
				<p class="section__text text-center tj-expertise__text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, sint.
				</p>
			</div> <!-- /.col-lg-6 -->
		</div> <!-- /.row -->
		<div class="row no-gutters tj-expertise__cards justify-content-between">
			<%- partial('expertise-item') %>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.tj-expertise -->