.form {

	&__textarea {
		padding: 20px;
	}

	&__btn {
		min-width: 120px;
		height: 40px;
		margin: 0;
	}
}

.clients {

	&__title {
		margin-bottom: 40px;
	}

	&__inner:not(:last-child) {
		margin-bottom: 45px;

		&:nth-last-child(-2n+2) {
			margin-bottom: 0;
		}
	}

	&__link {
		display: inline-block;
	}
}