.tj-expertise {
	padding: 70px 0 100px;

	&__title {
		margin-bottom: 15px;
	}

	&__titles {
		font-family: $title-font;
		margin-bottom: 65px;
	}

	&__item {

		border-right: 1px solid $grey;
		border-bottom: 1px solid $grey;

		&:nth-child(3n+3) {
				border-right: none;
			}

		&:nth-child(n+4) {
			border-bottom: none;
		}

		.card {
			border:none;
			align-items: center;
			padding: 35px 0;

			&-img-top {
				height: 50px;
				width: auto;
				margin-bottom: 30px;
			}

			&-title {
				font-weight: 900;
				font-size: px_to_rem(14px);
				text-transform: uppercase;
				color: $dark-grey;
				margin-bottom: 25px;
			}

			&-text {
				font-weight: 300;
				font-size: px_to_rem(14px);
				line-height: px_to_em(22px);
				color: $text-color;
			}
		}
	}
}