.tj-story {

	&__title {
		margin-bottom: 30px;
	}

	&__text:nth-child(2n+1) {
		margin-bottom: 30px;
	}
	&-btn {
		margin: 0;
	}

	&__img-md {

		@include sm-screen-max {
		margin-bottom: 30px;
		}
	}

	&__article-md {

		@include sm-screen-max {
		text-align: center;
		}
	}
}