.tj-testimonial {
	background: #4c3b71 url("../img/bg-tesstimonial.jpg") center no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;

	&::before {
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(90deg, rgba(31,28,64,1) 0%, rgba(63,46,101,0.6) 100%);
		position: absolute;
	}

	&__carousel-wrapper {
		display: flex;
		flex-direction: column;
		position: relative;
	}
}

.quot {
	font-size: px_to_rem(60px);
	color: $white;
	transform: rotate(180deg);
	margin-bottom: 35px;
}

.carousel {

	min-height: 375px;

	&__list {
		margin-bottom: 0;
		position: inherit;
	}

	&__text {
		font-family: $title-font;
		font-size: px_to_rem(16px);
		font-weight: 400;
		color: $light-grey;
		line-height: 26px;
		letter-spacing: 0.9px;
		margin-bottom: 50px;
	}

	&-indicators {

		.carousel__photo {
			@include square(45px);
			text-indent: 0;
			border: none;
			overflow: hidden;
			border-radius: 50%;
			margin-right: 15px;
			margin-left: 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__next {
		right: 400px;
	}

	&__prev {
		left: 400px;
	}

	.next-icon {
		font-size: 35px;
	}

	.prev-icon {
		font-size: 35px;
	}

	&__btn {
		display: flex;
		justify-content: center;
		@include square(43px);
		color: $light-grey;
		position: absolute;
		bottom: 0;
	}
}

.title__name {
	font-size: px_to_rem(14px);
	font-weight: 900;
	text-transform: uppercase;
	color: $white;
}

.title__prof {
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	color: $light-grey;
}

.photo__img {
	width: 100%;
	height: auto;
}