// Fots

$main-font: 'Roboto', sans-serif;
$title-font: 'Playfair Display', serif;
$btn-font: 'Hammersmith One', sans-serif;

$base-size: 14px;



// Colors

$blak: #413d4b;
$white: #fff;
$cyan: #0cd6d0;
$violet: #4c3b71;
$btn-color: #00e0d0;
$text-color: #716e78;

$transition: all .3s ease;