.tj-work {
	padding: 70px 0;

	&__titles {
		margin-bottom: 70px;
	}

	&__dribble {
		display: flex;
		align-items: center;
		color: $dark-grey;
		border: 2px solid transparent;
		border-radius: 5px;
		width: 200px;
		padding: 0 5px;

		&:hover {
			border-color: $btn-color;
		}
	}

	&__drible-text {
		margin-right: 5px;
		font-size: px_to_rem(14px);
		font-weight: 300;
	}

	&__dribble-span {
		@include square (10px);
		border-top: 2px solid $text-color;
		border-right: 2px solid $dark-grey;
		transform: rotate(45deg);
	}

	&__box-img {
		max-width: 1900px;
	}

	&__img {
		width: 100%;
		max-width: 320px;
		height: 200px;
	}
}