.b-about {
	background-color: #fff;
	width: 100%;

	&__description {
		display: flex;
		flex-direction: column;
		padding: 30px 0;
	}

	&__details {
		background-color: $bg-gray;
		padding: 70px 0;
	}
}

.description {

	&__wrapper {
		padding: 70px 0;
	}

	&__title {
		margin-bottom: 40px;
	}

	&__text {
		color: $text-color;
		margin-bottom: 30px;
	}

	&__btn {
		width: 100%;
		max-width: 145px;
		font-size: px_to_rem(16px);
		text-transform: capitalize;
		color: $btn-dark;
		display: flex;
		justify-content: center;
		padding: 10px 0;
		border: 1px solid $btn-dark;
		border-radius: 25px;
		transition: all .3s ease;

		&:hover,
		&:focus {
			background-color: $green;
			border-color: $green;
			color: $white;
		}
	}

	&__img--box {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.details {

	&__titles {
		margin-bottom: 55px;
	}

	&__title {
		color: $text-dark;
		margin-bottom: 40px;
	}

	&__subtitle {
		color: $text-color;
		margin-bottom: 55px;
	}
}

.icons {

	&__list {
		display: flex;
		justify-content: center;
	}

	&__item:not(:last-child) {
		margin-right: 25px;
	}

	&__link {
		background-color: $dark-gray;
		display: flex;
		justify-content: center;
		align-items: center;
		@include square(50px);
		border-radius: 50%;
		transition: all .3s ease;

		&:hover,
		&:focus,
		&.active {
			background-color: $green;
		}
	}
}

.icon {
	@include square(25px);
	fill: $white;
}

.ideas {

	&__title {
		font-family: $main-font;
		letter-spacing: inherit;
		text-transform: capitalize;
		color: $text-dark;
		font-weight: 400;
		margin-bottom: 35px;
	}

	&__subtitle {
		color: $text-color;
	}

	&__text {
		padding: 60px 0 0;
		color: $text-color;
	}
}