.b-contact__form {
	background-color: $white;
	padding: 80px 0 100px;
}

.contact__form {
	display: flex;
	flex-direction: column;
}

.form {

	&__labels-box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__label {
		width: 100%;
		max-width: 285px;

	}

	&__input {
		width: 100%;
		padding: 10px 20px;
		border: 2px solid $text-gray;
		color: $text-color;

		&:hover,
		&:focus {
			border-color: $green;
		}
	}

	&__submit {
		width: 100%;
		background-color: $green;
		color: $white;
		text-transform: uppercase;
		border: none;
		padding: 20px 0;
		border: 2px solid transparent;

		&:hover,
		&:focus {
			background-color: $bg-gray;
			color: $green;
			font-weight: 700;
			cursor: pointer;
			border-color: $green;
		}
	}
}

.message {
	margin-bottom: 30px;
	resize: none;
}