.b-projects {
	display: flex;
	flex-direction: column;
	padding: 70px 0 0;

	&__titles {
		padding-bottom: 60px;
	}

	&__title {
		color: $text-dark;
	}

	&__text {
		color: $text-color;
	}

	&__list {
		display: flex;
	}

	&__fluid {
		padding: 0;
	}

	&__item {
		width: 25%;

		&:first-child {
			width: 50%;
		}
	}

	&__link {
		display: block;
		$height: 400px;
		position: relative;

		@include padding-hack($height);
	}

	&__link--hover {
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		background: rgba(0, 0, 0, .7);
		opacity: 0;
		transition: all .3s ease;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}

.hover__span {
	font-family: $title-font;
	font-size: px_to_rem(20px);
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .5em;
	color: $white;
}