.b-projects {
	display: flex;
	flex-direction: column;
	padding: 70px 0 0;

	&__description {
		margin-bottom: 60px;
	}

	&__title {
		color: $text-dark;
	}

	&__text {
		color: $text-color;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include lg-screen {
			display-wrap: none;
		}
	}

	&__item {
		width: 100%;

		@include sm-screen {
			width: 50%;
			max-width: 350px;
		}

		@include lg-screen {
			width: 25%;
		}

		@include xl-screen {
			max-width: none;
		}

		&:first-child {
			width: 100%;
			max-width: 700px;

			@include lg-screen {
				width: 50%;
				max-width: none;
			}
		}
	}

	&__link {
		display: block;
		$height: 400px;
		position: relative;

		@include padding-hack($height);
	}

	&__link--hover {
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0, 0, 0, .7);
		opacity: 0;
		transition: all .3s ease;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}

.hover__span {
	font-family: $title-font;
	font-size: px_to_rem(20px);
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .5em;
	color: $white;
}