.b-quotes {
	background: $black url('../img/quotes-bg.jpg') top center no-repeat;
	background-size: cover;
	padding: 70px 0 90px;

	&__content {
		flex-direction: column-reverse;

		@include lg-screen {
			flex-direction: row;
		}

		&--image {
			display: none;

			@include md-screen {
				display: flex;
				justify-content: center;
				margin-bottom: 50px;
			}

			@include lg-screen {
				margin-bottom: 0;
			}
		}

		@include lg-screen {
			margin: 0;
		}
	}

	&__description {
		text-align: center;

		@include lg-screen {
			padding-right: 35px;
		}

		@include xl-screen {
			padding-right: 15px;
		}
	}

	&__title {
		color: $text-white;
	}

	&__subtitle {
		color: $text-gray;
		margin-bottom: 30px;
	}

	&__author {
		font-weight: 700;
		text-transform: uppercase;
		color: $text-gray;
	}

	&__prof {
		text-transform: capitalize;
		color: $text-gray;
	}

	&__img-box {
		position: relative;
		display: flex;
		justify-content: center;

		@include lg-screen {
			position: absolute;
			top: -110px;
			right: 0;
		}
	}
}

.img-box {

	&__mac {
		width: 100%;
		max-width: 410px;
		position: relative;
	}

	&__inner {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 245px;
		position: absolute;
		margin: 0;
	}

	&__text--first,
	&__text--second {
		align-items: center;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	&__text--second {
		display: none;
	}

	&__carousel {
		width: 100%;
		height: 100%;
	}
}

.img-box__text--first-title>h2 {
	text-align: center;
	font-family: $logo-font;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: $text-gray;
}

.img-box__text--second-left,
.img-box__text--second-right {

	&>h3 {
		font-size: 25px;
		font-weight: 300;
		text-transform: uppercase;
		color: $text-gray;

		&>span {
			font-weight: 300;
		}
	}
}