// Fonts

$main-font: 'Open Sans', sans-serif;
$logo-font: 'Archivo Black', sans-serif;
$title-font: 'Source Sans Pro', sans-serif;

$base-size: 14px;




// Colors

$text-color: #81868e;
$white: #ffffff;
$green: #19bd9a;