// Fonts

$main-font: 'Open Sans', sans-serif;
$logo-font: 'Archivo Black', sans-serif;
$title-font: 'Source Sans Pro', sans-serif;

$base-size: 14px;




// Colors

$text-color: #81868e;
$white: #ffffff;
$black: #000;
$green: #19bd9a;
$bg-gray: #f3f3f3;
$dark-gray: #81868e;
$text-dark: #464646;

// BTN
$btn-dark: #333b46;