* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}

body,
html {
  font-size: 100%;
  font-family: $main-font;
  min-height: 100vh;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

@font-face {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/BebasNeue-Bold.woff");
}

@font-face {
  font-family: "OpenSans-b";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/OpenSans-Bold.woff");
}

@font-face {
  font-family: "OpenSans-r";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/OpenSans-Regular.woff");
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
