.first-screen {
  max-width: 1960px;
  min-height: 100vh;
  background: url(../img/main_bg-min.jpg) no-repeat bottom;
  background-size: cover;
  margin: 0 auto;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    );
  }
}

.header {
  width: 100%;
  min-height: 100%;
  padding: px_to_rem(20px) 0;
  position: relative;
  z-index: 2;

  &__nav {
    font-family: $main-font-b;
    font-size: px_to_rem(12px);
    text-transform: uppercase;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  &__list {
    display: flex;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    animation: 0.8s linear 1.8s clip forwards;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    display: block;
    font-family: $main-font-b;
    font-size: px_to_rem(12px);
    text-transform: uppercase;
    transition: all 0.2s linear;

    &:hover {
      color: $color-hover;
    }
  }

  @keyframes clip {
    from {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  &-actions {
    display: flex;
    align-items: center;
  }

  &__langs-box {
    margin-right: 40px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: 0;
      top: -10px;
      right: -24px;
      height: 30px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__social {
    display: flex;
  }

  &-svg {
    fill: #ffb548;
    @include square(31px);
    transition: all 0.2s linear;

    &:hover {
      fill: $white;
    }
  }
}

.logo {
  &__link {
    display: block;
  }
}

.lang {
  &__list {
    height: 1em;
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 2px;
      @include square(6px);
      border-bottom: 2px solid $white;
      border-left: 2px solid $white;
      transform: rotate(-45deg);
    }
  }

  &__item {
    padding-right: 20px;

    &:hover {
      cursor: default;
      color: $color-hover;
    }

    &:hover::after {
      border-color: $color-hover;
    }
  }
}

.logo__image {
  @include square(55px);
}

.social {
  &__link {
    display: block;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &:hover .nav-svg {
    fill: $white;
  }
}

// Hamburger =======================

.header__hamburger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 18px;

  & span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $white;
    position: relative;
    border-radius: 3px;

    &::before {
      content: '';
      position: absolute;
      top: -6px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $white;
      border-radius: 3px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 50%;
      width: 50%;
      height: 2px;
      background-color: $white;
      border-radius: 3px;
    }
  }
}

.img-gif__box {
  position: absolute;
  top: -15px;
  // left: -100%;
  width: 200px;
  height: 100px;
  animation: 3s linear 1s fly-in forwards;
  background: center / contain url('../img/animated-helicopter-image-0037.gif');
}

@keyframes fly-in {
  0% {
    left: -30%;
  }
  100% {
    left: 120%;
  }
}
