<section class="section tr-header" id="home">
  <div class="tr-header__slider">
    <div class="header-slider__item ferst-item" style="background-image: url(./img/bg_main_1.jpg)">
      <div class="container">
        <div class="row tr-header__content">
          <div class="col-md-6 tr-header__title--box">
            <a class="tr-header__title--wrapper" href="#pages">
              <h1 class="tr-header__title">
                Hear the Thunder
              </h1>
            </a>
            <div class="tr-header__subtitle--wrapper">
              <h3 class="tr-header__subtitle">
                A super clean and easy to use Modern WordPress Theme
              </h3>
            </div>
          </div> <!-- /.col-md-6 -->
          <figure class="col-md-6 tr-header__img--box">
            <img src="./img/first-phone.png" alt="ipad_in_heand">
          </figure>
        </div>
        <!-- /.row tr-header__content -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.header-slider__item -->
    <div class="header-slider__item" style="background-image: url(./img/bg_main_2.jpg)">
      <div class="container second-item__container">
        <div class="row second-item">
          <div class="offset-md-6 col-md-6 slider-second__content">
            <div class="slider__title-second--wrapper">
              <h2 class="slider__title-second">
                responsive & retina ready
              </h2>
            </div>
            <!-- /.tr-header__title-second--wrapper -->
            <div class="slider__text-second--wrapper">
              <p class="slider__text-second">
                Our lovely theme was built with
                responsive and retina functionality.
                So no matter how, when or where
                you and clients access your site it
                always looks pixel perfect.
              </p>
            </div>
            <!-- /.tr-header__text-second--wrapper -->
          </div> 
          <!-- /.col-md-6 -->
          <div class="second-slider__img-mac--absolut">
            <div class="second-slider__img-mac--box">
              <img src="./img/mac_2.png" alt="mac" class="second-slider__img-mac">
              <div class="mac-img__box" style="background-image: url(./img/bg_main_2.jpg)">
              </div>
            </div>
            <!-- /.second-slider__img-mac--box -->
          </div>
          <!-- /.second-slider__img-mac--absolut -->
          <div class="second-slider__img-ipad--absolut">
            <div class="second-slider__img-ipad--box">
              <img src="./img/ipad_2.png" alt="mac" class="second-slider__img-ipad">
              <div class="ipad-img__box" style="background-image: url(./img/bg_main_2.jpg)">
              </div>
            </div>
            <!-- /.second-slider__img-ipad--box -->
          </div>
           <div class="second-slider__img-iphone--absolut">
             <div class="second-slider__img-iphone--box">
               <img src="./img/iphone_2.png" alt="mac" class="second-slider__img-iphone">
               <div class="iphone-img__box" style="background-image: url(./img/bg_main_2.jpg)">
               </div>
             </div>
             <!-- /.second-slider__img-iphone--box -->
           </div>
           <div class="second-slider__img-macbook--absolut">
             <div class="second-slider__img-macbook--box">
               <img src="./img/macbook_2.png" alt="mac" class="second-slider__img-macbook">
               <div class="macbook-img__box" style="background-image: url(./img/bg_main_2.jpg)">
               </div>
             </div>
             <!-- /.second-slider__img-iphone--box -->
           </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.header-slider__item -->
  </div>
  <!-- /.tr-header__slider -->
</section>
<!-- /.section tr-header -->