<nav class="tr-header__nav">
  <div class="container">
    <div class="row tr-header__nav--wrapper">
      <div class="coll-md-4 tr-header__logo">
        <a href="#" class="tr-logo__link nav__logo">
          <img src="./img/logo.png" alt="thunder-logo" class="tr-logo__img" />
          <span class="tr-logo__text">thunder</span>
        </a>
        <!-- /.tr-logo__link -->
      </div>
       <div class="tr-header__nav--toggle"></div>
      <!-- /.coll-md-4 tr-header__logo -->
      <div class="col-md-8">
        <nav class="tr-nav">
          <ul class="nav__list">
            <%- partial('f-s_menu-item') %>
          </ul>
        </nav>
      </div>
      <!-- /.col-md-8 -->
    </div>
    <!-- /.row tr-header__nav--wrapper -->
  </div>
  <!-- /.container -->
</nav>